#===============================================================================
# @brief    Kconfig file.
# Copyright (c) @CompanyNameMagicTag 2023-2023. All rights reserved.
#===============================================================================

if WS63_PORTING_XF_V0_2_X

    menu "tasks_xf_entry configuration"
    
        config TASKS_XF_PREMAIN_STACK_SIZE
            int
            prompt "tasks_xf_premain() task stack size."
            default 8192
    
        config TASKS_XF_PREMAIN_PRIORITY
            int
            prompt "tasks_xf_premain() task priority."
            default 24
            range 0 31
            help
                Set the priority of the tasks_xf_premain() task.
                0 is the highest and 31 is the lowest.
    
    endmenu # "tasks_xf_entry Configuration"

endif # WS63_PORTING_XF_V0_2_X
